body {
  background-color: rgba(253, 229, 216, 1);
  margin: 0;
  padding: 0;
}

.sp-background-container{
  position: relative;
  width: 100%;
}

.sp-background-topleft{
  position: absolute;
  top:2%;
  left:0%;
  width:80%;
}

.sp-background-topright{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
}

.sp-background-bottomleft{
  position: absolute;
  bottom:0%;
  left:0%;
  width:80%;
}


.sp-background-bottomright{
  position: absolute;
  width: 120%;
  bottom:0%;
  right:0%;
}

.sp-character-container{
  position:fixed;
  top:20%;
  left:15%;
}

img{
  width:80%;
}

.sp-character{
  position: relative;
  float: left;
  width:30%;
}

.sp-character-head{
  width:100%;
}

.sp-character-lowerbody{
  width:50%;
  position: absolute;
  left: 40%;
  top: 88%;
  transform:rotate(0deg);
  transform-origin:left top;
}

.sp-character-lowerbody:hover{
  transform:rotate(2deg);
  transition: all 1s;
}

.sp-character-leftarm {
  width: 60%;
  position: absolute;
  left: 5%;
  top: 39%;
  transform:rotate(10deg);
  transform-origin:top right;
}
.sp-character-leftarm:hover {
  transform:rotate(0deg);
  transition: all 1s;
}

.sp-character-leftleg{
   width: 60%;
   position: absolute;
   left: 20%;
   top: 120%;
   transform:rotate(2deg);
   transform-origin:top right;
}

.sp-character-leftleg:hover {
 transform:rotate(-4deg);
 transition: all 1s;
}

.sp-character-rightarm{
  width: 105%;
  position: absolute;
  left: 45%;
  top: 40%;
  transform:rotate(2deg);
  transform-origin:top right;
}

.sp-character-rightarm:hover {
  transform:rotate(0deg);
  transition: all 1s;
}

.sp-character-rightleg{
  width: 45%;
  position: absolute;
  left: 55%;
  top: 115%;
  transform:rotate(2deg);
  transform-origin:top right;
}

.sp-character-rightleg:hover {
  transform:rotate(-4deg);
  transition: all 1s;
}
