body {
  background-color: rgba(253, 229, 216, 1);
}


.sp-background-container{
  position:fixed;
  img:60%;
  background:rgba(253, 229, 216, 1);
  widith: 100%;

}
.sp-character-container{
  position:fixed;
  top:20%;
  left:15%;
}

img{
  width:80%;
}
.sp-character{
  position: relative;
  float: left;
  width:30%;
  }
.sp-character-head{
  width:100%;
  color:orange;
}
.sp-character-lowerbody{
  width:50%;
  position: absolute;
  left:40%;
  top: 88%;
}
.sp-character-leftarm {
width: 60%;
position: absolute;
left: 5%;
top: 39%;
transform:rotate(10deg);
transform-origin: top right;

}
.sp-character-leftarm:hover {
transform:rotate(-3.5deg);
transition: all 1s;
}
  .sp-character-leftleg{
    width: 60%;
   position: absolute;
   left: 20%;
   top: 120%;
   }
   .sp-character-rightarm{
     width: 100%;
     position: absolute;
     left: 45%;
     top: 38%;
    }
    .sp-character-rightleg{
      width: 50%;
     position: absolute;
     left: 55%;
    top: 115%;
    }
