body {
  background-color: rgba(253, 229, 216, 1);
  margin: 0;
  padding: 0;
}

img {
  width:100%;
}
/* .ld-background-container{
  position:relative;
  width: 100%;
  top:0;
} */
.ld-background-topright-salmonelement{
  position: absolute;
  top:0;
  right:0;
  }
.ld-background-topmiddle-orangeelement{
  position: absolute;
  width:50%;
  top:0;
  left:25%;
  }
  .ld-background-topleft-orangeelemen{
    position: absolute;
    width:70%;
    top:0;
    left:0%;
  }

.ld-background-middleright-orangeelement{
  position: absolute;
  width:60%;
  top:15%;
  right:0;
}
.ld-background-center-orangeelemen{
  position: absolute;
  width:60%;
  top:15%;
  left:50;
}
.ld-background-middleleft-pinkelement{
  position: absolute;
   width:60%;
  top:15%;
  left:0%;
}

.ld-background-bottomright-orangeelement{
  position: absolute;
  width:70%;
  bottom: 0%;
  right:0;
}
.ld-background-bottommiddle-orangeelement{
  position: absolute;
  width:60%;
  bottom:0%;

}
.ld-background-bottomleft-pinkelement{
  position: absolute;
  width:50%;
  bottom: 0%;
  left:0%;
}

.ld-character-roseredcolor-container {
  position: absolute;
  top:0;
  width: 60%;
  transform-origin: top left;
  transform: rotate(20deg);
  animation: dragon-swing 6s infinite;
}

@keyframes dragon-swing {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

.ld-character-roseredcolor-head{
  position: absolute;
  top: 6%;
  left:12%;
  width:30%;
}

.ld-character-roseredcolor-lowerbody{
  position:absolute;
  top:15%;
  left:0.5%;
  width:23%;
  transform:rotate(0deg);
  transform-origin:left top;
}



.ld-character-yellowcolor-container{
  position:absolute;
  top:0;
  width:50%;
  left:40%;
  transform:translateY(-100px);
  animation: lion-updown 2s infinite;
  }



.ld-character-yellowcolor-head{
  position:absolute;
  top:70%;
  left:10%;
  width:50%;
}

.ld-character-yellowcolor-lowerbody{
  position:absolute;
  top:55%;
  bottom:30%;
  left:50%;
  width:20%;
}
@keyframes lion-updown {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(-80px);
  }

  100% {
    transform: translateY(20px);
  }
}
.ld-character-bluecolor-container{
  position:absolute;
  top:-5%;
  width:60%;
  left:45%;
  transform-origin: top right;
  transform: rotate(20deg);
  animation: dragon-swing 6s infinite;
}

.ld-character-bluecolor-head{
  position:absolute;
  right:10%;
  width:35%;
}

.ld-character-bluecolor-lowerbody{
  position:absolute;
  top:4%;
  left:77%;
  width:27%;
}
.sp-nextpage-bunnybutton{
      width: 8%;
      position: absolute;
      right: 0%;
      top: 0%;
      animation:shake .8s ease-in-out .1s infinite alternate

      }
    @keyframes shake{
  0%{transform:translate(0);
  }
  20%,
  40%,
  60%,
  80%{
    transform: translate(.20em);
  }
  10%,
  30%,
  50%{
    transform:translate(-,4em);
    }
    70%,
    100%{
      transform:translate(0);
    }
}

.sp-nextpage-bunnybutton:hover{
  background-color:lightcoral
}
