body {

  background-color: rgba(253, 229, 216, 1);
  margin: 0;
  padding: 0;

}
img{
  width:100%;
}
.background-centralleft-dotcircle{
  position:absolute;
  width:30%;
  top:10%;
  left:35%;
}
.background-leftpalepinkround{
  position:absolute;
  width:20%;
  top:10%;
  left:50%;
}
.background-frontspot{
  position:absolute;
  width:35%;
  top:3%;
  left:5%;
}
.background-centralrightlinedrawing{
  position:absolute;
  width:30%;
  top:40%;
  left:70%;
}
.background-centralpuprleplate{
  position:absolute;
  width:30%;
  top:40%;
  left:5%;
}
.background-pinkroselinedrawing{
  position:absolute;
  width:30%;
  top:15%;
  left:50%;
}
.mp-background-pinkheart{
  position: absolute;
  top:0;
  width: 90%;
}


.mp-character-continer{
  position:relative;
  width:80%;
  top:0%;

}

.mp-character--orange{
  position:absolute;
  top;0%;
  left:12%;
  width:15%;
animation:shake .1s ease-in-out .1s infinite alternate
}




.mp-character--blue{
  position:absolute;
  top:6%;
  left:40%;
  width:15%;
  animation:shake .1s ease-in-out .1s infinite alternate
}

.mp-character--green{
  position:absolute;
  top:6%;
  left:75%;
  width:15%;
  animation:shake .1s ease-in-out .1s infinite alternate
  }
}

@keyframes shake{
  0%{transform:translate(0);
  }
  20%,
  40%,
  60%,
  80%{
    transform: translate(.70em);
  }
  10%,
  30%,
  50%{
    transform:translate(-,15em);
    }
    70%,
    100%{
      transform:translate(0);
    }
}
.sp-nextpage-bunnybutton{
      width: 8%;
      position: absolute;
      right: 0%;
      top: 0%;
      animation:shake .8s ease-in-out .1s infinite alternate

      }
    @keyframes shake{
  0%{transform:translate(0);
  }
  20%,
  40%,
  60%,
  80%{
    transform: translate(.20em);
  }
  10%,
  30%,
  50%{
    transform:translate(-,4em);
    }
    70%,
    100%{
      transform:translate(0);
    }
}

.sp-nextpage-bunnybutton:hover{
  background-color:lightcoral
}
